# npm dependencies
node_modules/*

#docs
docs
test
ignore_test_files
website-scraper

#include edited version of website_scraper
!node_modules/website-scraper

# packaged application (end-user)
Doc-tor-darwin-x64

# front-end build
build
