# npm dependencies
node_modules/*

#docs
docs
test
ignore_test_files
website-scraper
zips

#include edited version of website_scraper
!node_modules/website-scraper
node_modules/website-scraper/node_modules

# packaged application (end-user)
Doc-tor-darwin-x64

# front-end build
build

# misc
scraper.bak.js
server/middleware/nodeparser_working.js
